@model StationeryShop.Models.promotion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Content/admin/plugin/summernote/summernote-bs4.min.js"></script>
    <link rel="stylesheet" href="~/Content/admin/plugin/summernote/summernote-bs4.min.css" />
    <script>
        $(document).ready(function () {
            $('.content-editor').summernote({
                tabsize: 2,
                height: 100,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']],
                ]
            });
        });

    </script>
}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <h1>Xóa khuyến mãi</h1>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="card">
                <div class="card-header">
                    <h3>Bạn có muốn xóa khuyến mãi ?<br />(Xóa tất cả lên kết của mã này với các sản phẩm khác) </h3>
                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.from_date)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.from_date)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.to_date)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.to_date)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.content)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.content)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.image)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.image)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
</div>