@model StationeryShop.Models.customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <h1>Chi tiết khách hàng</h1>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <div class="card-tools">
                    <button type="button"
                            class="btn btn-tool"
                            data-card-widget="collapse"
                            title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button"
                            class="btn btn-tool"
                            data-card-widget="remove"
                            title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="container mt-3">
                    <div class="bg-white p-3">
                        <div class="row g-3">
                            <div class="col-xs-12 col-md-4">
                                <div class="product-intro__overview">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Mã  khách hàng</th>
                                            <td>@Model.id</td>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td>@Model.email</td>
                                        </tr>
                                      
                                        <tr>
                                            <th>Name</th>
                                            <td>@Model.name</td>
                                        </tr>
                                        <tr>
                                            <th>Tel</th>
                                            <td>@Model.tel</td>
                                        </tr>
                                        <tr>
                                            <th>Address</th>
                                            <td>@Model.address</td>
                                        </tr>
                                    </table>
                                
                                    <p>
                                        <a class="btn btn-primary btn-sm" href="/Admin/Customers/Edit/@Model.id">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="/Admin/Customers/Delete/@Model.id"
                                               onclick="return confirm('Bạn có chắc chắn muốn xóa khách hàng này không?');">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>