@model IEnumerable<StationeryShop.Models.customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <h1>Danh sách các khách hàng</h1>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Tìm kiếm</h3>
                <div class="card-tools">
                    <button type="button"
                            class="btn btn-tool"
                            data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button"
                            class="btn btn-tool"
                            data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form method="post" action="/Admin/Customers/Index">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label>ID</label>
                                <input value="@ViewBag.id" type="text" placeholder="ID..." name="id" class="form-control" />
                                <p style="color:red">@ViewBag.msg</p>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label>Name</label>
                                <input value="@ViewBag.name" type="text" class="form-control" placeholder="Tên KH..." name="name" />
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-8 align-self-end">
                            <div class="form-group">
                                <a href="/Admin/Customers/Create" class="btn btn-success">
                                    <i class="fas fa-plus"></i> Thêm mới KH
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-search"></i> Tìm kiếm
                                </button>
                                <a href="/Admin/Customers" class="btn btn-secondary">
                                    <i class="fas fa-redo"></i> Làm mới
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="card">
            <div class="card-header">
                <div class="card-tools">
                    <button type="button"
                            class="btn btn-tool"
                            data-card-widget="collapse"
                            title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button"
                            class="btn btn-tool"
                            data-card-widget="remove"
                            title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>Tên</th>
                                <th>SĐT</th>
                                <th>Địa chỉ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>@item.id</td>
                                    <td>
                                        @item.email
                                    </td>
                                    <td>@item.name</td>
                                    <td>@item.tel</td>
                                    <td>@item.address</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="/Admin/Customers/Edit/@item.id">
                                            <i class="fas fa-edit"></i>
                                        </a>

                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="/Admin/Customers/Delete/@item.id"
                                           onclick="return confirm('Bạn có chắc chắn muốn xóa khách hàng này không?');">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="/Admin/Customers/Details/@item.id">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div>
    </section>
    <!-- /.content -->
</div>