@model StationeryShop.Models.product
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutWithoutSidebar.cshtml";
}
<div class="container mt-3">
	<div class="bg-white p-3">
		<h2 class="heading">@Model.name</h2>
		<div class="row g-3">
			<div class="col-xs-12 col-md-4">
				<div class="product-intro__img">
					<img src="@Model.image"
							 alt="img" />
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="product-intro__overview">
					<table class="table table-bordered">
						<tr>
							<th>Mã sản phẩm</th>
							<td>@Model.id</td>
						</tr>
						<tr>
							<th>Xuất xứ</th>
							<td>@Model.origin</td>
						</tr>
						<tr>
							<th>Đơn vị tính</th>
							<td>@Model.unit</td>
						</tr>
						<tr>
							<th>Tình trạng</th>
							<td>
								@if (Model.amount > 0)
								{
									<span class="text-success">
										<i class="bx bx-badge-check bx-sm text-success"></i>
										Còn hàng
									</span>
								}
								else
								{
									<span class="text-warning">
										<i class="bx bx-hand bx-sm text-warning"></i>
										Hết hàng
									</span>
								}
							</td>
						</tr>
					</table>
					<p class="text-danger fs-3">
						@if (Model.Discount > 0)
						{
							<del>@Model.price.ToString("n0")đ</del>
							<strong>@Model.PromoPrice.ToString("n0")đ</strong>
						}
						else
						{
							<strong>@Model.price.ToString("n0")đ</strong>
						}
					</p>
					<a href="/Cart/Add/@Model.id" class="btn btn-primary mt-3">Thêm hàng vào giỏ</a>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="product-intro__commitment">
					<h4>AN LỘC VIỆT CAM KẾT:</h4>
					<ul>
						<li>
							<i class="bx bx-check-circle text-success"></i> Cung cấp các sản phẩm
							văn phòng đa dạng với giá cả hợp lý
						</li>
						<li>
							<i class="bx bx-check-circle text-success"></i> Miễn phí giao
							hàng cho đơn hàng trên 500.000đ (áp dụng tại các quận nội thành
							TP.HaNoi)
						</li>
						<li>
							<i class="bx bx-check-circle text-success"></i> Hỗ trợ đổi trả nếu có lỗi sản phẩm hoặc không vừa ý
						</li>
						<li>
							<i class="bx bx-check-circle text-success"></i> Tư vấn và hướng
							dẫn sử dụng sản phẩm chi tiết, tận tình
						</li>
						<li>
							<i class="bx bx-check-circle text-success"></i> Cam kết chất lượng sản phẩm đúng với mô tả
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container mt-3">
	<div class="bg-white p-3">
		<h2 class="heading">Chi tiết sản phẩm</h2>
		<p>
			@Html.Raw(Model.description)
		</p>
	</div>
</div>
<div class="container mt-3">
	<div class="bg-white p-3">
		<h2 class="heading">Sản phẩm liên quan</h2>
		@Html.Partial("_ProductList", (IEnumerable<StationeryShop.Models.product>)ViewBag.relatedProds)
	</div>
</div>