@using StationeryShop.Models
@model List<order>

<table class="table table-striped" id="orderTable">
	<thead>
		<tr>
			<th>#</th>
			<th>Mã đơn hàng</th>
			<th>Khách hàng</th>
			<th>Ngày đặt</th>
			<th>Trạng thái</th>
			<th>Yêu cầu</th>
			<th>Địa chỉ</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.Count; i++)
		{
			var od = Model[i];
			<tr>
				<td>@(i + 1)</td>
				<td>@od.id</td>
				<td>
					<a href="/Customer/Detail/@od.cus_id">@od.customer.name</a>
				</td>
				<td>@od.order_date.ToShortDateString()</td>
				<td>
					@if (od.status == order.Status.DELIVERED)
					{
						<span class="badge badge-success">@od.status</span>
					}
					else if (od.status == order.Status.ACCEPTED || od.status == order.Status.DELIVERING || od.status == order.Status.PENDING)
					{
						<span class="badge badge-info">@od.status</span>
					}
					else
					{
						<span class="badge badge-danger">@od.status</span>
					}
				</td>
				<td>@od.notes</td>
				<td>
					<ul style="list-style:none; padding:0;margin:0;">
						<li>
							<i class="fas fa-user"></i> @od.name
						</li>
						<li>
							<i class="fas fa-home"></i> @od.address
						</li>
						<li>
							<i class="fas fa-phone"></i> @od.tel
						</li>
					</ul>
				</td>
				<td>
					<a class="btn btn-primary btn-sm" href="/Admin/Order/Detail/@od.id">
						<i class="fas fa-eye"> </i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
